<br>
<br>
<h2 style="text-align:center">Enter data to update Rule</h2>

<div class="container">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Logged In
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="add" #addform="ngForm" (ngSubmit)="addRule()" ngNativeValidate>

        <div class="form-group">
            <label>Category</label>
            <small> * </small>
            <input type="text" class="form-control" name="category" formControlName="category"
                [(ngModel)]="user1.category" required>
           
        </div>

        <div class="form-group">
            <label>Operation Type</label>
            <small> * </small>
            <input type="text" class="form-control" name="operationType" formControlName="operationType"
                [(ngModel)]="user1.operationType" required>
                  </div>

        <div class="form-group">
            <label>Condition</label>
            <small> * </small>
            <input type="text" class="form-control" name="condition" formControlName="conditionType"
                [(ngModel)]="user1.conditionType" required>
            <small class="text-danger"></small>
        </div>


        <div class="form-group">
            <label>Limit</label>
            <div class="form-group">
                <small>From</small><input type="number" min="0" max="2147483647" class="form-control" name="limitFrom" formControlName="limitFrom"
                    [(ngModel)]="user1.limitFrom">
                <small>To</small><input type="number" min="0" max="2147483647" class="form-control" name="limitTo" formControlName="limitTo"
                    [(ngModel)]="user1.limitTo">
            </div>
        </div>


        <div class="form-group">
            <label>Fees</label>
            <div class="form-group">
                <small>Type</small><input type="text" class="form-control" name="feesType" formControlName="feesType"
                    [(ngModel)]="user1.feesType" required>
                <small>Value</small><input type="number" class="form-control" step="0.000001"name="feesValue" formControlName="feesValue"
                    [(ngModel)]="user1.feesValue" required>
            </div>
        </div>
        <button type="submit" class="btn btn-info">Update Rule</button>
    </form>
</div>